form.form.pure-form.pure-form-stacked(action="/")
  div.pure-g
    input.form__input.pure-input-1(name="url" placeholder="url" value=href)
    input.form__input.pure-input-1(name="anchor" placeholder="anchor" value=anchor)
    textarea.form__area.pure-input-1(name="description" placeholder="description")=details
    button.pure-button.pure-button-primary.pure-input-1(type="submit")="Сохранить"
